<div class="data-binding">
  <h1>Property Binding</h1>
  <article>
    <h4>Interpolação</h4>
    <p>String Interpolada: {{ url }}</p>
    <p>O resultado de 22 * 2 é {{ 22 * 2 }}</p>
    <p>O resultado de 22 * 2 + valor é {{ 22 * 2 + getValor()}}</p>
    <p>2 é {{2 % 2 == 0 ? 'par' : 'ímpar'}}</p>
  </article>

  <article>
    <h4>Property Binding</h4>
    <img src="{{ urlImagem }}">
    <img [src]="urlImagem">
    <img bind-src="urlImagem">
  </article>

  <article>
    <h4>Class & Style Binding</h4>
    <div>
      <select #alertType (change)="0">
        <option value="alert-success">Success</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Warning</option>
        <option value="alert-danger">Danger</option>
      </select>
      <br><br>
      <div class="alert" role="alert" [class.alert-success]="alertType.value == 'alert-success'">success</div>
      <div class="alert" role="alert" [class.alert-danger]="alertType.value == 'alert-danger'">danger</div>
      <div class="alert" role="alert" [class.alert-info]="alertType.value == 'alert-info'">info</div>
      <div class="alert" role="alert" [class.alert-warning]="alertType.value == 'alert-warning'">warning</div>
      <div class="alert {{ alertType.value }}" role="alert">Selected</div>
      <div class="alert alert-danger" role="alert" [style.display]="alertType.value == 'alert-danger' ? 'block' : 'none'">Only shows on error</div>
    </div>
  </article>

</div>