<div style="text-align:center">
 <!-- <cursos></cursos>
  <home-component></home-component>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <data-binding></data-binding>
  <event-binding></event-binding>
  <ioprop [inputId]="'Amarelo'"></ioprop>

  <outprop-counter [counterValue]="10"
    (eventEmitterValueHasChanged)="onValueChanged($event)">
  </outprop-counter>
-->
  <lifecycle [initialValue]="initialValue" *ngIf="!destroyLifecycle"></lifecycle>
  <button class="btn btn-primary" (click)="changeValue()">Change initial value</button>
  <button class="btn btn-primary" (click)="destroyLifecycleComponent()">Destroy Lifecycle component</button>
</div>
