<p>Title: {{book.title | uppercase}}</p>
<p>Author: {{book.author | lowercase | camelCase}}</p>
<p>Rating: {{book.rating | number:'.1-2'}}</p>
<p>Pages: {{book.pages}}</p>
<p>Price: {{book.price | currency:'R$'}}</p>
<p>Launch Date: {{book.lauchDate | date:'yyyy-MM-dd'}}</p>
<p>Entire Book Json: {{book | json}}</p>

Book List

<input type="text" [(ngModel)]="filterText">

<ul>
  <li *ngFor="let bookItem of filterBooks()">{{bookItem}}</li>
</ul>

Async

<p>{{asynchronous | async}}</p>
<p>{{asynchronous2 | async}}</p>